
body.trapeze #header {
	float:right;
	
}
body.trapeze #header #block-atrium-account{ 
	float:right;
	display:block;
	width:550px;
	}
body.trapeze #header #block-atrium-account .block-title{ 
	float:right;
	}
body.trapeze #header.toggle-blocks #block-atrium-account{ 
	margin-right:0px !important;
	}
body.trapeze #header.toggle-blocks .block-toggle .block-content{ 
	position: absolute;
	border-top-left-radius: 5px;
	border-top-right-radius: 0px; 
	top: 30px;
	}