
body.trapeze #header {
	float:right;
}
body.trapeze #header .block{ 
	float:right;
	}
body.trapeze #header.toggle-blocks #block-atrium-account{ 
	margin-right:0px !important;
	}
body.trapeze #header.toggle-blocks .block-toggle .block-content{ 
	position: absolute;
	left: auto;
	right: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 0px; 
	} 

/*Removed from designkit*/
#navigation{ 
	background: #eee url(../images/sprite_skin.png);
	background-position: 0px -40px;
	background-repeat: repeat-x;
	}
body #space-tools .block-title,
body #features-menu li.active { 
	background-color:#fff;
	}

body #space-tools .block-title{ 
	text-indent: -9999px;
	width:20px;
	border: 1px solid #ddd;
	background-image: url(../images/sprite_skin.png);
	background-position: 0px -210px;
	background-repeat: repeat-x;
	}
body #space-tools .block-title.toggle-active{ 
	background-image: none;
	border-bottom-color: transparent;
	}

body #space-tools .dropdown-blocks .block-toggle .block-content{ 
	right:1px;
	}

#block-atrium-admin_links span.icon,
#block-atrium-admin_links .toggle-active span.icon 	{ background-position:-20px -420px; }
#block-atrium-create span.icon,
#block-atrium-create .toggle-active span.icon 		{ background-position:0px -420px; }
#block-atrium-search span.icon,
#block-atrium-search .toggle-active span.icon 		{ background-position:-40px -420px; }


/**
 * Feature nav overrides
 */
#features-menu {
	position: absolute;
	left:20px;
	height:50px;
	}

#features-menu li {
	background-position:0px 50px;
	background-repeat:no-repeat;
	margin-left:5px; 
	border: 1px solid transparent !important;
	border-radius: 3px !important;
	-moz-border-radius: 3px !important;

	}

#features-menu li.active {
	border:0;
	border-bottom:0px;
	height: auto;
	border: 1px solid #ddd !important;
	}

#features-menu li a {
	color:#fff;
	position:relative;
	width: auto;
	height: 20px;
	padding: 8px;
	overflow:hidden;
	background: transparent;
	line-height: 1em;
	}

#features-menu li a:hover {
	overflow:visible;
	background: transparent;
	}

#features-menu li.active a,
#features-menu li.active a.active {
	padding: 8px;
	width:auto;
	}

#features-menu li a span.label {
	width: auto;
	position: relative;
	top:0px;
	left:0px;
	display:block; 
	padding-left: 20px; 
	white-space:nowrap;
	text-align:center;
	font-size: 12px;
	font-weight: bold;
	margin-left: 4px;
	color: #888;
	text-shadow: white 0px 1px 0px;
	line-height: 1.9em;
	}

#features-menu li.active a span.label,
#features-menu li.active a:hover span.label {
	color: #333;
	font-size: 12px;
	font-weight: bold;
	margin-right: 0px;
	padding: 0 0 0 0px;
	text-shadow: white 0px 1px 0px;
	line-height: 1.9em;
	}    
#features-menu li a span.icon {
	width:20px;
	height:20px;
	display:block;
	text-indent: -999px;
	overflow:hidden;
	background:url(../images/sprite_icons.png) 20px 20px no-repeat;
	}

#features-menu li a.icon-blog span.icon 		{ background-position:0px 100%; }
#features-menu li a.icon-notebook span.icon 	{ background-position:-20px 100%; }
#features-menu li a.icon-calendar span.icon 	{ background-position:-40px 100%; }
#features-menu li a.icon-casetracker span.icon 	{ background-position:-60px 100%; }
#features-menu li a.icon-dashboard span.icon 	{ background-position:-80px 100%; }
#features-menu li a.icon-og span.icon 			{ background-position:-100px 100%; }
#features-menu li a.icon-home span.icon 		{ background-position:-120px 100%; }
#features-menu li a.icon-members span.icon 		{ background-position:-140px 100%; }
#features-menu li a.icon-profile span.icon 		{ background-position: -280px -40px; }
#features-menu li a.icon-shoutbox span.icon 	{ background-position:-160px 100%; }